/*sender colors:
  red
  blue
  gray
  magenta
  violet
  olive
  yellowgreen
  darkred
  darkgreen
  darksalmon
  darkcyan
  mediumpurple
  peru
  olivedrab
  darkorange
  slateblue
  slategray
  goldenrod
  orangered
  tomato
  dodgerblue
  steelblue
  deeppink
  saddlebrown
  coral
  royalblue
*/

/*
Grey:
border-top: 1px solid #fff;
border-bottom: 1px solid #d8d8d8;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#fff));
text-shadow: 1px 1px white, -1px -1px #ddd;

Green:
border-top: 1px solid #F4FFDE;
border-bottom: 1px solid #C3D1AB;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EBF9D9), color-stop(100%, #DFF3C7));
text-shadow: 1px 1px #DFF8A2, -1px -1px #F1FFB4;

Red:
border-top: 1px solid #FAD5D5;
border-bottom: 1px solid #C29A9A;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3CFCF), color-stop(100%, #EABABA));

Yellow:
border-top: 1px solid #FFFFD1;
border-bottom: 1px solid #C7C796;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F8F8CC), color-stop(100%, #EFEFB4));
text-shadow: 1px 1px #FFFEC6, -1px -1px #ddd;

Red:
border-top: 1px solid #FAD5D5;
border-bottom: 1px solid #C29A9A;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3CFCF), color-stop(100%, #EABABA));
text-shadow: 1px 1px #F8B9B9, -1px -1px #C5BABA;

Blue:
border-top: 1px solid #CAEBFF;
border-bottom: 1px solid #86A6BC;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C2E2F7), color-stop(100%, #A9D2EE));
text-shadow: 1px 1px #BFE6FF, -1px -1px #9BBDDB;
*/

* {
  padding: 0;
  margin: 0;
  font-weight: normal;
  border: none;
  
/*  word-wrap: normal !important;*/
  text-rendering: optimizelegibility;
}

html {
  background: #333;
}

body {
  /*
    Lion's scrollbar color changes from light to dark depending on what color the background image is. Most of this style is light, but the background before it fills up is dark, creating a light scrollbar on light background. I used a gradient combined with a solid color to prevent the light scrollbar and keep the dark background. Hack.
  */
  background: #fff -webkit-gradient(linear, left top, right top, color-stop(0%,#333333), color-stop(100%,#333333));
}

#chat {
  border-top: 1px solid #888;
  height: 100%;
  background: #333;
}

span.textFormat {
  color: transparent;
  position: absolute;
  text-shadow: none;
}

*::selection {
  text-shadow: none;
  background-color: #bbb;
}

.messageWrapper { /* Grey / White */
  position: relative;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #d8d8d8;
/*  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(100%,#fff));*/
  background: #fff;
  text-shadow: 1px 1px white, -1px -1px #ddd;
}

.messageWrapper.status { /* Green */
  border-top: 1px solid #F4FFDE;
  border-bottom: 1px solid #C3D1AB;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EBF9D9), color-stop(100%, #DFF3C7));
  text-align: center;
  text-shadow: none;
}

.messageWrapper.status.error, .messageWrapper.status.timed_out, .messageWrapper.status.contact_left, .messageWrapper.status.offline { /* Red with Stripes */
  border-top: 1px solid #FAD5D5;
  border-bottom: 1px solid #C29A9A;
  background: url(images/stripe.png);
}

.messageWrapper.topic, .messageWrapper.event { /* Blue */
  border-top: 1px solid #CAEBFF;
  border-bottom: 1px solid #86A6BC;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C2E2F7), color-stop(100%, #A9D2EE));
  text-shadow: 1px 1px #BFE6FF, -1px -1px #9BBDDB;
  text-align: center;
/*  text-shadow: none;*/
}

.messageWrapper.mention { /* Purple */
  border-top: 1px solid #CDC3FF;
  border-bottom: 1px solid #897FBF;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #DCD6FB), color-stop(100%, #BEB4F2));
  text-shadow: none;
}

.messageWrapper.connected.event { /* Green */
  border-top: 1px solid #F4FFDE;
  border-bottom: 1px solid #C3D1AB;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EBF9D9), color-stop(100%, #DFF3C7));
  text-shadow: 1px 1px #DFF8A2, -1px -1px #F1FFB4;
}

.messageWrapper.disconnected.event { /* Red */
  border-top: 1px solid #FAD5D5;
  border-bottom: 1px solid #C29A9A;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F3CFCF), color-stop(100%, #EABABA));
  text-shadow: 1px 1px #F8B9B9, -1px -1px #F4B0B1;
}

.messageWrapper.status .time {
  padding-right: .5em;
}

.status span, .event span {
/*  opacity: 0.5;*/
}

a {
  text-shadow: none;
  color: #0080FF;
}

#Chat>.messageWrapper {
  
}

#chat>.messageWrapper.event {
  border-left: none;
}

.messageWrapper > .incoming, .messageWrapper>.outgoing, .messageWrapper.status, .messageWrapper.event {
  padding: 0.5em;
}

body>.messageWrapper:first-child>.message {
  border-top: 1px solid #d8d8d8;
}

.message>span {
  display: inline-block;
  vertical-align: top;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.messageWrapper .inner.action > span.sender {
  visibility: hidden;
}

.messageWrapper .inner.action span.actionMessageUserName {
  display: none;
}

.messageWrapper .inner.action > span {
/*  display: inline;*/
}

.time {
  text-align: center;
  opacity: 0.5;
  display: none;
}

.messageText {
  position: relative;
}

.colorDot {
  width: .5em;
  height: .5em;
  margin-top: .3em;
  border-radius: 1em;
  border: 1px solid rgba(0,0,0,0.2);
}

.mention .colorDot {
  border: 1px solid rgba(0,0,0,0.4);
}

.sender {
/*  padding: 0 1em 0 .5em;*/
  font-weight: bold;
  text-shadow: none;
  width: 9em;
  overflow: hidden;
  text-align: right;
  word-wrap: normal !important;
}